html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas {
    display: block;
    border-radius: 50%;
}

.canvas-pattern {
    display: none;
}