body {
    background-color: #161719;
    text-align: center;
    overflow-x: hidden;
}

.collage_container {
    display: inline-block;
    width: 800px;
    height: 500px;
    position: relative;
    margin-top: 100px;
}

.collage_piece {
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.level_1 {
    z-index: 1;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.55);
}

.level_2 {
    z-index: 2;
    -webkit-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.24);
}

.link {
    color: grey;
    display: inline-block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
}