@import url("//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://code.getmdl.io/1.3.0/material.indigo-blue.min.css");
html {
    background: #222;
}

* {
    box-sizing: border-box;
}

.card-container {
    position: absolute;
    width: 300px;
    height: 380px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    perspective: 1000px;
    .left {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 2;
        &:hover {
            width: 100%;
            z-index: 3;
        }
    }
    .right {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        z-index: 2;
        &:hover {
            width: 100%;
            z-index: 3;
        }
    }
    .card {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform .5s ease-in-out;
    }
    .left:hover~.card {
        transform: rotateY(-180deg);
    }
    .right:hover~.card {
        transform: rotateY(180deg);
    }
}

.card {
    .front,
    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: "Roboto", sans-serif;
        color: #444;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .front {
        background: #fff;
        // z-index: 2;
    }
    .back {
        background: #466599;
        // z-index: 3;
        transform: rotateY(180deg);
    }
    .front {
        .cover {
            width: 100%;
            height: 150px;
            background: url("https://image.ibb.co/jbG1LQ/pexels_photo_167276.jpg") center -220px;
        }
        .photo {
            margin-top: -45px;
            img {
                display: block;
                margin: auto;
                width: 90px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }
        }
        .name {
            margin: 10px auto 5px;
            font-size: 1.5em;
            font-weight: 300;
            line-height: 1;
            text-align: center;
        }
        .role {
            margin: 0;
            text-align: center;
            color: #999;
        }
        .supporting_text {
            margin: 15px auto 20px;
            padding: 8px;
            text-align: center;
        }
    }
    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        .icons {
            padding: 0;
            list-style: none;
            li {
                margin: 20px 0;
                i.mdi {
                    color: #FFF;
                    font-size: 2em;
                    line-height: 1;
                    transition: all .3s ease;
                    span {
                        font-style: normal;
                        font-size: 70%;
                        top: -3px;
                        position: relative;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}
