
@import 'normalize';
@import 'fonts_variables';
@import 'functional_modifiers';

$tan: #EADFCC;
$blue: #0C496E;
$teal: #3A8986;
$green: #79C19C;
$light-green: #A5D8A7;
$yellow: #D3E99F;

body {
  background-color: $tan;
  display: grid;
  align-content: center;
  height: 100vh;
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(1vw + 1em);
  margin: 0 auto;
  max-width: 50em;
  width: 100%;
  h1, p {
    margin-bottom: 0;
  }
  h1 {
    font-family: "milka-soft", $serif;
    font-weight: 400;
    font-size: 2.5em;
    -moz-osx-font-smoothing: greyscale;
    -webkit-font-smoothing: antialiased;
  }
  p {
    font-family: "english-grotesque", $sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.square {
    // display: none;
  background-color: $green;
  background-size: cover;
  font-size: 3.125rem;
  height: 13em;
  width: 13em;
  align-self: flex-start;
  justify-self: center;
  position: relative;
  box-shadow: inset 0 0 0 .1em black,
    inset 0 0 0 .5em $blue,
    inset 0 0 0 .6em black,
    inset 0 0 0 1em $teal,
    inset 0 0 0 1.1em black,
    inset 0 0 0 1.5em $green,
    inset 0 0 0 1.6em black,
    inset 0 0 0 2em $yellow,
    inset 0 0 0 2.1em black,
    inset 0 0 0 2.5em $light-green,
    inset 0 0 0 2.6em black,
    inset 0 0 0 3em $green,
    inset 0 0 0 3.1em black,
    inset 0 0 0 3.5em $teal,
    inset 0 0 0 3.6em black,
    inset 0 0 0 4em $blue,
    inset 0 0 0 4.1em black,
    inset 0 0 0 4.5em $teal,
    inset 0 0 0 4.6em black,
    inset 0 0 0 5em $green,
    inset 0 0 0 5.1em black,
    inset 0 0 0 5.5em $teal,
    inset 0 0 0 5.6em black,
    inset 0 0 0 6em $yellow,
    inset 0 0 0 6.1em black,
    inset 0 0 0 6.5em $green;
}

.circle {
    // display: none;
  background-color: $tan;
  border-radius: 0 8em 0 0;
  width: 23em;
  height: 16em;
  position: absolute;
  left: -5em;
  top: 6.9em;
  clip-path: polygon(50% 0%, 50% 60%, 100% 60%, 100% 0%);
  box-shadow: inset 0 0 0 .1em black,
    inset 0 0 0 .5em $yellow,
    inset 0 0 0 .6em black,
    inset 0 0 0 1em $teal,
    inset 0 0 0 1.1em black,
    inset 0 0 0 1.5em $green,
    inset 0 0 0 1.6em black,
    inset 0 0 0 2em $teal,
    inset 0 0 0 2.1em black,
    inset 0 0 0 2.5em $blue,
    inset 0 0 0 2.6em black,
    inset 0 0 0 3em $teal,
    inset 0 0 0 3.1em black,
    inset 0 0 0 3.5em $green,
    inset 0 0 0 3.6em black,
    inset 0 0 0 4em $light-green,
    inset 0 0 0 4.1em black,
    inset 0 0 0 4.5em $yellow,
    inset 0 0 0 4.6em black,
    inset 0 0 0 5em $green,
    inset 0 0 0 5.1em black,
    inset 0 0 0 5.5em $teal,
    inset 0 0 0 5.6em black,
    inset 0 0 0 6em $blue,
    inset 0 0 0 6.1em black;
}
