$primary-color: #00a3b6;
$animation-time: 4s;
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    box-sizing: border-box;
    height: 100px;
    width: 150px;
    background: #fff;
    border: 4px solid $primary-color;
    border-radius: 4px;
    position: relative;
    &__page {
        position: absolute;
        height: 100%;
        width: calc(50% - 2px);
        background: #fff;
        top: -4px;
        right: -4px;
        border: inherit;
        border-radius: inherit;
        transform-style: preserve-3d;
        transform-origin: 0 0 0;
        animation: page-flip $animation-time linear infinite;
        &__fill {
            background: $primary-color;
            width: 80%;
            border: inherit;
            margin: 0 auto;
            border-width: 3px;
            border-radius: inherit;
            box-sizing: border-box;
            margin-top: 10px;
            transform-origin: left;
            transform: scaleX(0);
            animation: fill-1 $animation-time linear forwards infinite;
            backface-visibility: hidden;
            &:nth-child(2) {
                animation-name: fill-2
            }
            &:nth-child(3) {
                animation-name: fill-3
            }
            &:nth-child(4) {
                animation-name: fill-4
            }
            &:nth-child(5) {
                animation-name: fill-5
            }
        }
    }
}

@keyframes page-flip {
    50% {
        transform: rotateY(0) translateX(0) skewY(0deg)
    }
    65% {
        transform: rotateY(-90deg) translateX(-2px) skewY(-20deg)
    }
    80%,
    100% {
        transform: rotateY(-180deg) translateX(-4px) skewY(0deg)
    }
}

@keyframes fill-1 {
    10%,
    100% {
        transform: scaleX(1)
    }
}

@keyframes fill-2 {
    10% {
        transform: scaleX(0)
    }
    20%,
    100% {
        transform: scaleX(1)
    }
}

@keyframes fill-3 {
    20% {
        transform: scaleX(0)
    }
    30%,
    100% {
        transform: scaleX(1)
    }
}

@keyframes fill-4 {
    30% {
        transform: scaleX(0)
    }
    40%,
    100% {
        transform: scaleX(1)
    }
}

@keyframes fill-5 {
    40% {
        transform: scaleX(0)
    }
    50%,
    100% {
        transform: scaleX(1)
    }
}