.hide-text {
    color: transparent;
    font: 0/0
}

.hide-text:hover,
.hide-text:focus {
    color: transparent;
    font: 0/0
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0 !important;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

.flex-layout:before,
.flex-layout:after {
    content: "";
    display: block;
    clear: both
}

.flex-layout>* {
    padding-bottom: 1rem
}

.flex-layout .media-item {
    margin-bottom: 0
}

@media (min-width: 33.75em) {
    .flex-layout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .flex-layout>* {
        float: left;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        min-height: 0;
        min-width: 0;
        width: 50%
    }
}

@media (min-width: 40em) {
    .flex-layout .flex-lead {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

@media (max-width: 300px) {
    .l-media-grid figcaption {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0 !important;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0
    }
}

@media (min-width: 30em) {
    .l-media-grid>*:first-child {
        width: 100%
    }
}

@media (min-width: 33.75em) {
    .l-media-grid>* {
        padding: .5rem
    }
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-auto {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0
}

@media (min-width: 33.75em) {
    .flex-1-2-1>*:nth-child(odd) {
        width: 25%
    }
}

@media (min-width: 48em) {
    .flex-33>* {
        padding: .3em;
        width: 33%
    }
}

@media (min-width: 33.75em) {
    .flex-25>* {
        padding: .3em;
        width: 25%
    }
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.flex-2 {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2
}

.flex-3 {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3
}

.flex-4 {
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4
}

@media (min-width: 33.75em) {
    .flex-sm {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: auto
    }
}

.flex-s-1 {
    -ms-flex-negative: 1;
    flex-shrink: 1
}

.flex-d-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-d-col-rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.flex-d-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-d-row-rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.ai-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.ai-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.ai-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.ai-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.ac-start {
    -ms-flex-line-pack: start;
    align-content: flex-start
}

.ac-end {
    -ms-flex-line-pack: end;
    align-content: flex-end
}

.ac-center {
    -ms-flex-line-pack: center;
    align-content: center
}

.ac-stretch {
    -ms-flex-line-pack: stretch;
    align-content: stretch
}

.ac-space-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around
}

.ac-space-between {
    -ms-flex-line-pack: justify;
    align-content: space-between
}

.jc-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.jc-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.jc-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.jc-stretch {
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch
}

.jc-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.jc-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.flex-lead {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    width: 100%
}

@media (min-width: 33.75em) {
    .flex-sm {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: auto
    }
}

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    position: relative;
    top: -.0625em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    text-align: center;
    -webkit-transition: fill .3s ease;
    transition: fill .3s ease
}

.icon-wide {
    width: 1.3125em
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.rotate-neg-90 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.rotate-neg-45 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.show,
.block {
    display: block
}

.inline {
    display: inline
}

.inline-block {
    display: inline-block
}

.table {
    display: table
}

.table-cell {
    display: table-cell
}

.vis-hidden {
    visibility: hidden
}

.visible {
    visibility: visible
}

.hidden {
    display: none
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.static {
    position: static
}

.float-l {
    float: left
}

.float-r {
    float: right
}

.h-0 {
    height: 0
}

.h-25 {
    height: 25%
}

.h-50 {
    height: 50%
}

.h-75 {
    height: 75%
}

.h-100 {
    height: 100%
}

.w-a {
    width: auto
}

.w-5 {
    width: 5%
}

.w-10 {
    width: 10%
}

.w-15 {
    width: 15%
}

.w-20 {
    width: 20%
}

.w-25 {
    width: 25%
}

.w-30 {
    width: 30%
}

.w-33 {
    width: 33%
}

.w-35 {
    width: 35%
}

.w-40 {
    width: 40%
}

.w-45 {
    width: 45%
}

.w-50 {
    width: 50%
}

.w-55 {
    width: 55%
}

.w-60 {
    width: 60%
}

.w-65 {
    width: 65%
}

.w-70 {
    width: 70%
}

.w-75 {
    width: 75%
}

.w-80 {
    width: 80%
}

.w-85 {
    width: 85%
}

.w-90 {
    width: 90%
}

.w-95 {
    width: 95%
}

.w-100 {
    width: 100%
}

.w-auto {
    width: auto
}

.mw-2em {
    max-width: 2em
}

.mw-3em {
    max-width: 3em
}

.mw-4em {
    max-width: 4em
}

.mw-5em {
    max-width: 5em
}

.mw-6em {
    max-width: 6em
}

.mw-7em {
    max-width: 7em
}

.mw-8em {
    max-width: 8em
}

.mw-9em {
    max-width: 9em
}

.mw-10em {
    max-width: 10em
}

.mw-15em {
    max-width: 15em
}

.mw-20em {
    max-width: 20em
}

.mw-25em {
    max-width: 25em
}

.mw-35em {
    max-width: 35em
}

.mw-40em {
    max-width: 40em
}

.mw-48em {
    max-width: 48em
}

.mw-56em {
    max-width: 56.25em
}

@media (min-width: 33.75em) {
    .align-right {
        text-align: right
    }
    .align-right *+*:last-child {
        margin-right: 0
    }
}

@media (min-width: 33.75em) {
    .align-center {
        text-align: center
    }
}

.text-center {
    text-align: center
}

.text-tiny {
    font-size: 80%
}

.text-sm {
    font-size: .875em
}

.text-base {
    font-size: 1em
}

.text-md {
    font-size: 1.35em
}

.text-lg {
    font-size: 1.5em
}

.text-xl {
    font-size: 1.875em
}

.all-caps {
    text-transform: uppercase
}

.italic {
    font-style: italic
}

.bold {
    font-weight: 700
}

.m-auto {
    margin: auto
}

.m-0 {
    margin: 0
}

.m-0-important {
    margin: 0 !important
}

.mb-0 {
    margin-bottom: 0
}

.mb-tiny {
    margin-bottom: .313rem
}

.mb-sm {
    margin-bottom: .625rem
}

.mb-1 {
    margin-bottom: 1rem
}

.mb-1-pt5 {
    margin-bottom: 1.5rem
}

.mb-2 {
    margin-bottom: 2rem
}

.mb-2-pt5 {
    margin-bottom: 2.5rem
}

.mb-3 {
    margin-bottom: 3rem
}

.mb-3-pt5 {
    margin-bottom: 3.5rem
}

.mb-4 {
    margin-bottom: 4rem
}

.mr-ml-a {
    margin-right: auto;
    margin-left: auto
}

.mr-ml-0 {
    margin-right: 0;
    margin-left: 0
}

.mr-a {
    margin-right: auto
}

.mr-0 {
    margin-right: 0
}

.mr-tiny {
    margin-right: .313rem
}

.mr-sm {
    margin-right: .625rem
}

.mr-1 {
    margin-right: 1rem
}

.ml-a {
    margin-left: auto
}

.ml-0 {
    margin-left: 0
}

.ml-tiny {
    margin-left: .313rem
}

.ml-sm {
    margin-left: .625rem
}

.ml-1 {
    margin-left: 1rem
}

@media (min-width: 30em) {
    .sm-m-0 {
        margin: 0
    }
    .sm-mr-ml-a {
        margin-right: auto;
        margin-left: auto
    }
    .sm-mr-ml-0 {
        margin-right: 0;
        margin-left: 0
    }
    .sm-mr-a {
        margin-right: auto
    }
    .sm-mr-0 {
        margin-right: 0
    }
    .sm-ml-a {
        margin-left: auto
    }
    .sm-ml-0 {
        margin-left: 0
    }
}

.p-0 {
    padding: 0
}

.p-0-important {
    padding: 0 !important
}

.p-tiny {
    padding: .313em
}

.p-sm {
    padding: .625em
}

.p-1 {
    padding: 1em
}

.p-1-pt5 {
    padding: 1.5em
}

.p-2 {
    padding: 2em
}

.p-2-pt5 {
    padding: 2.5em
}

.p-3 {
    padding: 3em
}

.p-3-pt5 {
    padding: 3.5em
}

.p-4 {
    padding: 4em
}

.p-4-pt5 {
    padding: 4.5em
}

.p-5 {
    padding: 5em
}

.p-5-pt5 {
    padding: 5.5em
}

.pt-pb-tiny {
    padding-top: .313em;
    padding-bottom: .313em
}

.pt-pb-sm {
    padding-top: .625em;
    padding-bottom: .625em
}

.pt-pb-1 {
    padding-top: 1em;
    padding-bottom: 1em
}

.pt-pb-2 {
    padding-top: 2em;
    padding-bottom: 2em
}

.pt-pb-3 {
    padding-top: 3em;
    padding-bottom: 3em
}

.pt-pb-4 {
    padding-top: 4em;
    padding-bottom: 4em
}

.pt-0 {
    padding-top: 0
}

.pt-tiny {
    padding-top: .313em
}

.pt-sm {
    padding-top: .625em
}

.pt-1 {
    padding-top: 1em
}

.pt-2 {
    padding-top: 2em
}

.pt-3 {
    padding-top: 3em
}

.pt-4 {
    padding-top: 4em
}

.pb-0 {
    padding-bottom: 0
}

.pb-tiny {
    padding-bottom: .313em
}

.pb-sm {
    padding-bottom: .625em
}

.pb-1 {
    padding-bottom: 1em
}

.pb-2 {
    padding-bottom: 2em
}

.pb-3 {
    padding-bottom: 3em
}

.pb-4 {
    padding-bottom: 4em
}

.pr-pl-0 {
    padding-right: 0;
    padding-left: 0
}

.pr-pl-tiny {
    padding-right: .313em;
    padding-left: .313em
}

.pr-pl-sm {
    padding-right: .625em;
    padding-left: .625em
}

.pr-pl-1 {
    padding-right: 1em;
    padding-left: 1em
}

.pr-pl-2 {
    padding-right: 2em;
    padding-left: 2em
}

.pr-pl-3 {
    padding-right: 3em;
    padding-left: 3em
}

.pr-pl-4 {
    padding-right: 4em;
    padding-left: 4em
}

.pr-0 {
    padding-right: 0
}

.pr-tiny {
    padding-right: .313em
}

.pr-sm {
    padding-right: .625em
}

.pr-1 {
    padding-right: 1em
}

.pr-2 {
    padding-right: 2em
}

.pr-3 {
    padding-right: 3em
}

.pr-4 {
    padding-right: 4em
}

.pl-0 {
    padding-left: 0
}

.pl-tiny {
    padding-left: .313em
}

.pl-sm {
    padding-left: .625em
}

.pl-1 {
    padding-left: 1em
}

.pl-2 {
    padding-left: 2em
}

.pl-3 {
    padding-left: 3em
}

.pl-4 {
    padding-left: 4em
}

@media (min-width: 30em) {
    .sm-pr-pl-1 {
        padding-right: 1em;
        padding-left: 1em
    }
    .sm-pr-pl-2 {
        padding-right: 2em;
        padding-left: 2em
    }
    .sm-pr-pl-3 {
        padding-right: 3em;
        padding-left: 3em
    }
    .sm-pr-pl-4 {
        padding-right: 4em;
        padding-left: 4em
    }
}

@media (min-width: 48em) {
    .md-pt-pb-1 {
        padding-top: 1em;
        padding-bottom: 1em
    }
    .md-pt-pb-2 {
        padding-top: 2em;
        padding-bottom: 2em
    }
    .md-pt-pb-3 {
        padding-top: 3em;
        padding-bottom: 3em
    }
    .md-pt-pb-4 {
        padding-top: 4em;
        padding-bottom: 4em
    }
    .md-pr-pl-1 {
        padding-right: 1em;
        padding-left: 1em
    }
    .md-pr-pl-2 {
        padding-right: 2em;
        padding-left: 2em
    }
    .md-pr-pl-3 {
        padding-right: 3em;
        padding-left: 3em
    }
    .md-pr-pl-4 {
        padding-right: 4em;
        padding-left: 4em
    }
}

@media (min-width: 75em) {
    .lg-pt-pb-1 {
        padding-top: 1em;
        padding-bottom: 1em
    }
    .lg-pt-pb-2 {
        padding-top: 2em;
        padding-bottom: 2em
    }
    .lg-pt-pb-3 {
        padding-top: 3em;
        padding-bottom: 3em
    }
    .lg-pt-pb-4 {
        padding-top: 4em;
        padding-bottom: 4em
    }
    .lg-pr-pl-1 {
        padding-right: 1em;
        padding-left: 1em
    }
    .lg-pr-pl-2 {
        padding-right: 2em;
        padding-left: 2em
    }
    .lg-pr-pl-3 {
        padding-right: 3em;
        padding-left: 3em
    }
    .lg-pr-pl-4 {
        padding-right: 4em;
        padding-left: 4em
    }
}