html {
    font-family: "ButlerRegular", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 200%;
    font-smoothing: antialiased;
    width: 100%;
    overflow: hidden-x;
    text-align: center;
}

@media (min-width: 650px) {
    html {
        height: 100%;
    }
    html:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
    body {
        display: inline-block;
        vertical-align: middle;
        max-width: 20rem;
    }
}

h1 {
    // color: #f35626;
    // color: #f35626;
    // color: black;
    background-image: -webkit-linear-gradient(92deg, #cc5500, #ccbb00);
    -webkit-background-clip: text;
    color: transparent;
    // -webkit-text-fill-color: transparent;
    -webkit-animation: hue 6s infinite linear;
}

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(-360deg);
    }
}

a {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #cc5500, #ccbb00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

p {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #cc5500, #ccbb00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    cursor: pointer;
}

.clickyThing {
    padding: 0.75rem;
    margin: 0.375rem;
    background-color: transparent;
    border-radius: 1px;
    text-align: center;
}

.clickyThing:focus {
    outline: none;
}

.clickyThing {
    max-width: 100px;
    text-align: center;
    border: 4px solid #f35626;
    line-height: 1.375;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 700;
    color: #f35626;
    cursor: pointer;
    -webkit-animation: hue 60s infinite linear;
}
