/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fee096;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.height-warning {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fee096 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/height.png) center no-repeat;
    background-size: auto 40%;
    opacity: 0;
    transition: opacity 0.4s;
    pointer-events: none;
    z-index: 10;
}

@media(max-height: 499px) {
    .height-warning {
        opacity: 1;
    }
}

.instructions {
    display: none;
    line-height: 26px;
}

.instructions a {
    color: #7f6e4a;
}

@media(min-width: 768px) {
    .instructions {
        z-index: 5;
        position: absolute;
        top: 20px;
        left: 20px;
        color: #b79e6a;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 0.010em;
    }
}