.container
  .name-containers
    .first-name
      h1.name Tiki
    .first-name
      h1.name Tiki
    .second-name
      h1.name William
    .second-name
      h1.name William
  .cube
    .side.back
      h1.plus back
    .side.left
      h1.plus left
    .side.right
      h1.plus right
    .side.top
      h1.plus top
    .side.bottom
      h1.plus bottom
    .side.front
      h1.plus front