html {
    overflow: hidden;
    background-color: #000;
}

main {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    filter: blur(8px) contrast(40);
    overflow: hidden;
    background-color: #000;
    font-size: 12px;
    color: #fff;
}

div {
    background-image: repeating-radial-gradient(currentColor, currentColor 1em, transparent 1em, transparent 100%);
    background-size: 3.12em 3.12em;
    background-position: calc(50% + 3.12em / 2);
    position: absolute;
    top: -50vmax;
    left: -50vmax;
    right: -50vmax;
    bottom: -50vmax;
    animation: loop 65s infinite linear;
}

div:nth-child(2) {
    opacity: 1;
    font-size: 1.33em;
    /*background-size: 2.5rem 2.5rem;*/
    animation-direction: reverse;
    animation-delay: -20s;
}

div:nth-child(3) {
    font-size: 4.33em;
    color: #48c;
    opacity: 0.25;
    background-size: 2.5em 2.5em;
    animation-duration: 2s;
}

@keyframes loop {
    50% {
        transform: scale(.75) rotate(0.5turn);
    }
    to {
        transform: scale(1) rotate(1turn);
    }
}