body {
    background: black;
    font-family: 'Khula', sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
}

button,
input {
    font-family: 'Khula', sans-serif;
    margin: 10px 2px 0;
    border: 1px solid #555;
    padding: 8px 10px 4px;
    color: white;
}

button {
    background: #111;
    cursor: pointer;
    text-transform: uppercase;
}

input {
    background: #444;
}

input[type="color"] {
    padding: 0;
}

input[type="number"] {
    width: 50px;
}

.formarea {
    background: #212121;
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 20px;
    h3 {
        margin: 10px 0 5px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

.dlbtn {
    background: #bc161c;
    border: #bc161c;
    margin-bottom: 40px;
}

label {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.svg-contain {
    flex-grow: 3;
    padding: 40px;
    border-right: 1px solid #444;
    svg {
        width: 90%;
        height: 90%;
    }
}

.controls {
    flex-grow: 1;
    height: 100vh;
    padding: 50px;
}

@media (max-width: 600px) {
    .flex {
        display: block !important;
    }
    .svg-contain {
        width: 80%;
    }
    .controls {
        width: 90%;
        padding: 20px !important;
    }
}
