@media (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.page {
    min-height: 100vh;
    display: flex;
}

.page__demo {
    margin: auto;
}

.demo {
    position: relative;
    width: 0;
    height: 0;
}

@media screen and (min-width: 1400px) {
    .demo {
        padding: 20% 8.33334%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
    .demo {
        padding: 16.6666667%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .demo {
        padding: 25%;
    }
}

@media screen and (max-width: 767px) {
    .demo {
        width: 100%;
        height: 33vh;
    }
}

.demo:nth-of-type(7n+1) {
    background-color: #fe5723;
}

.demo:nth-of-type(7n+2) {
    background-color: #009688;
}

.demo:nth-of-type(7n+3) {
    background-color: #7b1fa2;
}

.demo:nth-of-type(7n+4) {
    background-color: #512da8;
}

.demo:nth-of-type(7n+5) {
    background-color: #2196f3;
}

.demo:nth-of-type(7n+6) {
    background-color: #795549;
}

.demo:nth-of-type(7n+7) {
    background-color: #4daf50;
}

@media screen and (min-width: 768px) {
    .page__demo {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

.page__demo {
    width: 100%;
}

/*
* Loaders
*/

/* basic style */

.cp-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate3d(-50%, -50%, 0);
}

.cp-preloader__letter {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: rgba(0, 0, 0, .3);
}

.cp-preloader__letter:before {
    content: attr(data-preloader);
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.cp-preloader__letter:nth-child(2):before {
    animation-delay: 0.3s;
}

.cp-preloader__letter:nth-child(3):before {
    animation-delay: 0.45s;
}

.cp-preloader__letter:nth-child(4):before {
    animation-delay: 0.6s;
}

.cp-preloader__letter:nth-child(5):before {
    animation-delay: 0.75s;
}

.cp-preloader__letter:nth-child(6):before {
    animation-delay: 0.9s;
}

.cp-preloader__letter:nth-child(7):before {
    animation-delay: 1.05s;
}

/* type 1 */

.cp-preloader_type1 .cp-preloader__letter:before {
    animation-name: cp-preloader1;
}

@keyframes cp-preloader1 {
    0%,
    100% {
        transform: rotateY(-90deg);
        opacity: 0;
    }
    20%,
    50% {
        transform: rotateY(0);
        opacity: 1;
    }
    65% {
        transform: rotateY(0);
        opacity: .3;
    }
    80% {
        opacity: 0;
    }
}

/* type 2 */

.cp-preloader_type2 .cp-preloader__letter:before {
    animation-name: cp-preloader2;
}

@keyframes cp-preloader2 {
    0%,
    75%,
    100% {
        transform: rotateY(-90deg);
        opacity: 0;
    }
    20%,
    58% {
        transform: rotateY(0);
        opacity: 1;
    }
}

/* type 3 */

.cp-preloader_type3 .cp-preloader__letter:before {
    transform-origin: 0 50%;
    animation-name: cp-preloader3;
}

@keyframes cp-preloader3 {
    0%,
    100% {
        transform: rotateY(-90deg);
        opacity: 0;
    }
    20%,
    50% {
        transform: rotateY(0);
        opacity: 1;
    }
    65% {
        transform: rotateY(0);
        opacity: .3;
    }
    80% {
        opacity: 0;
    }
}

/* type 4 */

.cp-preloader_type4 .cp-preloader__letter:before {
    animation-name: cp-preloader4;
}

@keyframes cp-preloader4 {
    0%,
    100% {
        transform: rotateY(-90deg) scale(1);
        opacity: 0;
    }
    20%,
    50% {
        transform: rotateY(0) scale(1);
        opacity: 1;
    }
    75% {
        transform: rotateY(0) scale(1.2);
        opacity: 0;
    }
}

/* type 5 */

.cp-preloader_type5 .cp-preloader__letter:before {
    animation-name: cp-preloader5;
}

@keyframes cp-preloader5 {
    0%,
    100% {
        transform: rotateY(-90deg) scale(1);
        opacity: 0;
    }
    20%,
    50% {
        transform: rotateY(0) scale(1);
        opacity: 1;
    }
    65% {
        transform: rotateY(0) scale(0);
        opacity: 0;
    }
}

/* type 6 */

.cp-preloader_type6 .cp-preloader__letter:before {
    animation-name: cp-preloader6;
}

@keyframes cp-preloader6 {
    0%,
    100% {
        transform: scale(0) skewY(-45deg);
        opacity: 0;
    }
    20%,
    50% {
        transform: scale(0) skewY(0);
        opacity: 1;
    }
    75% {
        transform: scale(0) rotateY(0);
        opacity: 0;
    }
}

/*
  * demo preloaders
  */

.cp-preloader__letter {
    font-size: 28px;
}

.cp-preloader__letter:before {
    color: #fff;
}