/*************************************
SETUP / MOCK SITE GLOBALS
*************************************/

* {
    box-sizing: border-box;
}

html {
    font-family: "TiemposText-Regular", "Neuton", Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 26px;
}

body {
    color: dimgray;
    background-color: #fff;
    text-size-adjust: 100%;
}

.headline {
    font-family: "TiemposHeadlineWeb-Bold", "Neuton", Times, "Times New Roman", serif;
    font-size: 31px;
    line-height: 40px;
    text-transform: normal;
    color: #111;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
    .headline {
        font-size: 40px;
        line-height: 52px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 10px 10px;
}

@media (min-width: 768px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 20px 10px;
    }
}

.friends-intro {
    width: 100%;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .friends-intro {
        width: 50%;
    }
}


/*************************************
COMPONENT: FILTERED GRID
*************************************/

.gsf-filtered-grid {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.gsf-filtered-grid>li {
    transition: all 0.4s;
    transform: translateZ(0);
}

.gsf-filtered-grid .gsf-filtered-grid-move {
    transition: transform 0.4s 0.1s;
}

.gsf-filtered-grid .gsf-filtered-grid-enter,
.gsf-filtered-grid .gsf-filtered-grid-leave-to {
    opacity: 0;
    transform: translate3d(0, 120px, 0);
}

.gsf-filtered-grid .gsf-filtered-grid-leave-active {
    position: absolute;
}

@media (min-width: 768px) {
    .gsf-filtered-grid {
        width: 66.66%;
        z-index: 5;
        float: left;
    }
}


/*************************************
COMPONENT: FILTER LIST
*************************************/

.gsf-filters {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 50;
    bottom: calc(-50vh + 59px);
    left: 0;
    width: 100vw;
    height: 50vh;
    padding: 0;
    background-color: #f7f7f7;
    transition: transform 0.3s ease-in-out;
}

.gsf-mobile-filters-drawer {
    cursor: pointer;
    position: relative;
    display: flex;
    height: 60px;
    flex: 0 0 60px;
    width: 100%;
    padding: 0 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.30);
    justify-content: space-between;
    align-items: center;
}

.gsf-mobile-filters-open {
    transform: translate3d(0, -100%, 0) translate3d(0, 59px, 0);
}

.gsf-mobile-filters-open .gsf-mobile-filters-drawer {
    border-top: none;
}

.gsf-mobile-filters-open .gsf-mobile-filters-drawer:after {
    content: '';
    position: absolute;
    left: 25px;
    bottom: 0;
    width: calc(100% - 50px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
}

.gsf-mobile-filters-heading {
    font-family: "Gotham SSm A", "Gotham SSm B", "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.30);
}

.gsf-mobile-filters-selected {
    font-family: "Gotham SSm A", "Gotham SSm B", "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.30);
}

.gsf-filter-list-wrap {
    flex: 1 1 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.gsf-filter-list {
    display: block;
    list-style: none;
    margin: -0.65rem 0 0;
    font-size: 14px;
    padding: 40px 43px 10px;
}

.gsf-filter-list li {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.gsf-filter-list a {
    font-family: "Gotham SSm A", "Gotham SSm B", "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.30);
    display: block;
    width: 100%;
    padding: 0.65rem 0;
    transition: color 0.2s ease;
}

.gsf-filter-list a span {
    position: relative;
    display: inline-block;
}

.gsf-filter-list .gsf-filter-active {
    font-weight: 600;
    color: #111111;
}

@media (min-width: 768px) {
    .gsf-filters {
        position: relative;
        display: block;
        z-index: initial;
        left: initial;
        bottom: initial;
        float: left;
        width: 33.33%;
        height: auto;
        padding: 0 20px 110px;
        background: transparent;
    }
    @supports (position:sticky) {
        .gsf-filters {
            position: sticky;
            top: 150px;
        }
    }
    .gsf-filters-backdrop:before {
        content: '';
        position: absolute;
        left: -45px;
        top: -55px;
        z-index: -5;
        width: calc(125% + 45px);
        height: 100%;
        box-shadow: 0 40px 75px 0 rgba(0, 0, 0, 0.51);
        border-radius: 100px;
    }
    .gsf-filters-backdrop:after {
        content: '';
        position: absolute;
        left: -90px;
        top: -110px;
        z-index: -2;
        width: calc(140% + 90px);
        height: calc(100% + 110px);
        background: #f7f7f7;
    }
    .gsf-mobile-filters-drawer {
        display: none;
    }
    .gsf-mobile-filters-open {
        transform: none;
    }
    .gsf-filter-list a span:after {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: -14px;
        width: calc(100% + 28px);
        height: 6px;
        background: #FFD000;
        transform-origin: 0 100%;
        transform: scale3d(0, 0.33, 1);
        transition: all 0.2s ease;
    }
    .gsf-filter-list a:hover span:after {
        transform: scale3d(1, 0.33, 1);
    }
    .gsf-filter-list .gsf-filter-active span:after,
    .gsf-filter-list .gsf-filter-active:hover span:after {
        transform: scale3d(1, 1, 1);
    }
}


/*************************************
COMPONENT: FRIEND CARD
*************************************/

.gsf-friend-card {
    display: block;
    align-items: center;
    width: 48.5%;
    height: auto;
    margin: 0 0 60px;
    padding: 0;
}

.gsf-friend-img-wrapper {
    position: relative;
    z-index: 1;
    transition: transform 0.15s ease;
    height: 0;
    padding-bottom: 66.66%;
}

.gsf-friend-img-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #fdfdfd, #f7f7f7);
}

.gsf-friend-img-wrapper:after {
    content: '';
    position: absolute;
    top: calc(10% + 20px);
    left: calc(10% + 20px);
    z-index: -5;
    height: calc(80% - 40px);
    width: calc(80% - 40px);
    opacity: 0;
    transition: opacity 0.15s ease;
    box-shadow: 0 2px 64px 10px rgba(0, 0, 0, 0.70);
}

.gsf-friend-static {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.gsf-friend-animated {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.gsf-friend-card-text {
    padding: 20px 0;
    font-size: 12px;
}

.gsf-friend-full-name {
    font-family: "Gotham SSm A", "Gotham SSm B", "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #111111;
    letter-spacing: 0.05em;
}

.gsf-friend-job-title {
    font-family: "Gotham SSm A", "Gotham SSm B", "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    margin: 5px 0 0;
}

.gsf-friend-card:hover .gsf-friend-static {
    opacity: 0;
}

.gsf-friend-card:hover .gsf-friend-img-wrapper {
    transform-origin: 50% 50%;
    transform: scale(1.06);
}

.gsf-friend-card:hover .gsf-friend-img-wrapper:after {
    opacity: 1;
}

@media(min-width: 700px) {
    .gsf-friend-img-wrapper:after {
        box-shadow: 0 10px 90px 20px rgba(0, 0, 0, 0.7);
    }
}

@media (min-width: 768px) {
    .gsf-friend-card-text {
        font-size: 14px;
    }
}


/*************************************
MAIN
*************************************/

.friends-gallery {
    padding-top: 10px;
}

.friends-gallery:after,
.friends-gallery:before {
    content: " ";
    display: table;
}

.friends-gallery:after {
    clear: both;
}

.friends-gallery .friends-search {
    width: 100%;
    height: 100px;
}

.friends-gallery .friends-input-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #b3b3b3;
}

.friends-gallery .friends-input-wrapper input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.friends-gallery .friends-input-wrapper input::placeholder {
    font-family: "Gotham SSm A", "Gotham SSm B", "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    margin: 0;
}

.friends-gallery .friends-input-wrapper .friends-input-status {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease;
    background-color: #b3b3b3;
    transform-origin: 0 0;
    transform: scale3d(0, 1, 1);
}

.friends-gallery .friends-input-wrapper input:focus {
    outline: none;
}

.friends-gallery .friends-input-wrapper input:focus~.friends-input-status {
    transform: scale3d(1, 1, 1);
}

.friends-gallery .friends-main {
    position: relative;
    width: 100%;
}

.friends-gallery .friends-main:after,
.friends-gallery .friends-main:before {
    content: " ";
    display: table;
}

.friends-gallery .friends-main:after {
    clear: both;
}

@media (min-width: 768px) {
    .friends-gallery .friends-input-wrapper {
        float: right;
        width: 32.3%;
    }
}