@import url('https://fonts.googleapis.com/css?family=Roboto');
$black: #343436;
$white: #fff;
$yellow: #fcd000;
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 10px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    &.v-dark {
        background-color: $black;
        color: $white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &.v-light {
        background-color: $white;
        color: $black;
    }
}

.footer-anchor {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 4px;
    color: $black;
    text-decoration: none;
    background-color: $yellow;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.2s;
    &:hover {
        opacity: 0.6;
    }
}