* {
    box-sizing: border-box;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.e-marker {
    transform-origin: bottom center;
    cursor: pointer;
    &__marker {
        fill: #fff;
    }
    &__icon {
        fill: #fff;
    }
    &__image {
        transform: scale(0);
        transform-origin: 50% 50%;
    }
    &__circle {
        display: none;
    }
    &__text {
        font-size: 12px;
        font-family: brandon-grotesque, sans-serif;
        text-align: center;
        opacity: 0;
        color: #fff;
        fill: #fff;
        transform-origin: 50% 50%; // Center SVG text
        alignment-baseline: middle;
        text-anchor: middle;
    }
}
