* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 11pt;
    font-family: Times New Roman;
    color: #303030;
    line-height: 15pt;
}

body {
    background: #fdf;
    font: 30px sans-serif;
}

#Tetris {
    width: 300px;
    height: 400px;
    margin: 50px auto 0 auto;
    background-color: #DCDCDC;
    border: 2px solid gray;
    position: relative;
}

#Scrren {
    list-style-type: none;
    float: left;
}

#Scrren li {
    float: left;
}

#Main-scrren {
    background-color: black;
    margin: 20px 0 0 50px;
}

#Sub-scrren {
    background-color: black;
    margin: 0 0 0 20px;
}

#Scrren p {
    margin: 30px 0 0 25px;
}

#Game_over {
    position: absolute;
    top: 180px;
    left: 60px;
    display: none;
}

#Score {
    position: relative;
    width: 80px;
    height: 20px;
    top: 0px;
    left: 10px;
    overflow: hidden;
}

#play {
    background-color: white;
    width: 40px;
    height: 20px;
    border: solid 2px gray;
    border-radius: 3px;
    padding-left: 10px;
    cursor: pointer;
}